@font-face {
    font-family: "Segoe UI";
    src: url("./Assets/font/Segoe\ UI/.otf");
    /* src: url("/Assets/font/Segoe\ UI/.otf") format("woff"), 
    url("/assets/fonts/acumin/Acumin-RPro.otf") format("opentype"),
    url("/assets/fonts/acumin/Acumin-RPro.otf") format("svg"); */
} 
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.break{
    display: none;
}
.thin{
    display: none;
}
.menu-btn{
    display: none;
}
.header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 10vh;
}
.header ul{
    margin: 0px;
    padding: 0;
}
.header ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}
.header ul li a{
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 13px;
    font-family: "Segoe UI";
}
.header ul li a:hover{
    text-decoration: underline 2px solid;
}
.hide{
    display: none;
}
.header img{
    width: 130px;
    height: 25px;
    padding-left: 80px;
}
.menu2 button{
    border: none;
    background: #FFFFFF;
    font-family: "Segoe UI";
}
.menu2{
    padding-left: 490px;
}
.icons{
    padding-left: 15px;
}
.search, .cart, .user{
    padding-left: 13px;
    font-weight: normal;
} 

.banner-container{
    width: 88%;
    height: 70vh;
    margin: auto;
    display: flex;
    background: #F3F3F3;
    }
 .left{
     padding-top: 140px;
     padding-left: 80px;
     flex: 1;
 }   
 .left h1{
     font-size: 24px;
     font-weight: 600;
     font-family: "Segoe UI";
 }
 .left p{
     font-size: 15px;
     font-family: "Segoe UI";
     font-weight: 400;
 }
 .button{
     width: 130px;
     padding: 10px 10px 10px 0px;
     background: black;
 }
  .button a{
    text-decoration: none;
     color: white; 
 } 
 .learn{
     font-family: "Segoe UI";
     font-weight: 600;
     font-size: 15px;
     margin-left: 25px;
   
 }
 .learn:hover{
     text-decoration: underline 2px solid;
 }
 .button span{
     color: white;
 }
.right{
    flex: 1;
}
.right img{
  width: 659px;
  height: auto;
 
}
.about{
    display: flex;
    background: white;
    justify-content: space-between;
    width: 88%;
    padding-left: 80px;
    padding-top: 40px;
    flex-wrap: wrap;
}
.micro365{
background: white;
width: 23.5%;
height: 400px;
}
 .micro365 img{
    width: 100%;
}
.micro365 h3{
    margin-bottom: 0px;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
}
.micro365 p{
    padding-top: 5px;
    margin-top: 0px;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: 400px;
    margin-bottom: 0px;
}

.fa1, .fa2, .fa3, .fa4, .fa5{
color: #045d91;
margin-left: 8px;
}

.micro365 a{
line-height: 35px;
text-decoration: none;
font-weight: 500;
font-family: "Segoe UI";
color: #045d91; 
}

.outlook-banner{
    width: 88%;
    height: 70vh;
    margin: auto;
    display: flex;
    background: #F3F3F3;
    margin-bottom: 0;
}

.outlook-left{
        padding-top: 150px;
        padding-left: 80px;
        flex: 1;
}  
.outlook-left h1{
        font-size: 24px;
        font-weight: 600;
        font-family: "Segoe UI";
}
.outlook-left p{
        font-size: 15px;
        font-family: "Segoe UI";
        font-weight: 400;
}
.button2{
    width: 150px;
    padding: 10px 10px 10px 0px;
    background: black;
}

.button2 a{
    text-align: center;
    text-decoration: none;
     color: white; 
     margin-left: 15px;
 } 
 .outlook-right{
        flex: 1;
    }
 .outlook-right img{
         padding-left: 30px;
        }
.softbiz p{
        font-size: 22px;
        font-weight: 600;
        font-family: "Segoe UI";
        padding-left: 80px;
        padding-top: 48px;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

.business{
        display: flex;
        background: white;
        justify-content: space-between;
        width: 88%;
        margin: auto;
        margin-top: 0;
    }
.microteams{
    background: white;
    width: 23.5%;
    height: 400px;
    }
    
.microteams img{
            width: 100%;
        }
.microteams h3{
            padding-top: 20px;
            margin-bottom: 0px;
            font-family: "Segoe UI";
            font-size: 20px;
            font-weight: 600;
        }
.microteams p{
            padding-top: 5px;
            margin-top: 0px;
            font-family: "Segoe UI";
            font-size: 15px;
            font-weight: 400px;
            margin: auto;

        }
    
.fa7, .fa8, .fa9, .fa10{
        color: #045d91;
        margin-left: 8px;
    }
    
.microteams a{
        line-height: 35px;
        text-decoration: none;
        font-weight: 500;
        font-family: "Segoe UI";
        color: #045d91; 
    }
.covid{
    width: 88%;
    height: 25vh;
    margin: auto;
    background: #F3F3F3;
 }
 .covid h2{
     padding-left: 360px;
     font-size: 34px;
     font-weight: 600;
     font-family: "Segoe UI";
     margin-bottom: 0px;
     padding-top: 30px;
 }
 .covid p{
     font-size: 15px;
     font-weight: 400;
     font-family: "Segoe UI";
     margin-top: 0px;
     padding-left: 350px;
     line-height: 30px;
 }
 .covid a{
     padding-left: 560px;
     text-decoration: none;
     font-weight: 500;
    font-family: "Segoe UI";
    color: black; 
 }
 .fa11{
     padding-left: 8px;
 }
 .media{
     display: flex;
     margin: auto;
     width: 88%;
     align-items: center;
     padding-top: 55px;
     padding-bottom: 20px;
 }
 .socialmedia{
     margin-bottom: 10px;
 }
 .twitter a{
     color: #55ACEE;
 }
 .linkedin a{
     color: #0177B5;
 }
 .follow a{
    font-weight: 400;
    font-family: "Segoe UI";
    color: black; 
    font-size: 15px;
    text-decoration: none;
 }
 .media li{
     list-style-type: none;
     display: inline-block;
     margin-left: 15px;
 }
 .media li a{
     text-decoration: none;
     font-size: 33px;
 }
  
 .firstfooter{
    width: 100%;
    display: flex;
    background: #F3F3F3;
    padding-top: 45px;
    }
 .firstfooter li{
    list-style-type: none;
}
.firstfooter a{
    text-decoration: none;
    line-height: 30px;
    color: #616161;
    font-size: 11px;
    font-weight: 400;
    font-family: "Segoe UI";
    margin-top: 0px;
}
.firstfooter h3{
    font-size: 15px;
    font-weight: 600;
    font-family: "Segoe UI";
    color: #616161;
    padding-bottom: 5px;
}   
.firstfooter1{
    padding-left: 80px;
}

.secondfooter{
    width: 100%;
    display: flex;
    background: #F3F3F3;
    padding-top: 50px;
}
.globe{
    margin-bottom: 0px;
    padding-top: 18px;
    padding-left: 80px;
}

.globe span{
    color: #616161;
    font-size: 11px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.secondfooter ul{
    padding-left: 480px;
}
.secondfooter ul li{
    display: inline-block;
    margin-left: 25px;
}
.secondfooter ul li a{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
    font-weight: 400;
    font-family: "Segoe UI";
}